.gradient {
    display: flex;
    align-items: center;
    justify-content: center; /* чтобы контент был по центру */
    background: linear-gradient(135deg, #0d1b2a, #1b263b, #415a77, #0d1b2a);
    background-size: 300% 300%;
    color: #e8e8e8;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 2rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    animation: gradientMove 5s ease-in-out infinite;
}

.gradient:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.selected {
    filter: brightness(5);
    color: #091725;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    transform:  scale(1.05);
}

button:nth-child(1) { animation-duration: 4s; animation-delay: 0s; }
button:nth-child(2) { animation-duration: 5s; animation-delay: 0.2s; }
button:nth-child(3) { animation-duration: 6s; animation-delay: 0.4s; }
button:nth-child(4) { animation-duration: 5.5s; animation-delay: 0.1s; }
button:nth-child(5) { animation-duration: 8s; animation-delay: 0.2s; }
/* Анимация градиента */
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
